{% extends 'index.html' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3"> About  </h1>
    </div>
    <div>
      <h4> Our Mission </h4>
      We aim to provide peeks into the lives of employees at companies, primarily their experiences as related to their identities, marginalized or not. We are a socially conscious platform that hosts reviews with a goal of transforming the workplace. IDeal is a site aimed at equipping job seekers with important information regarding their potential employer. 
    </div>
    <p>
    <div>
      <h4> Where IDeal Began </h4>
      The idea of IDeal originated from WHACK Fall '17 by a team composed of Justin Ferrill, Dana Frayne, Nancy Ho, Pet Ramanudom, and Jacqueline Young. For their final project for CS304, Nancy and Pet decided to expand upon IDeal.
    </div>
    <p>
    <div>
      <h4> About us </h4>
      Nancy Ho (she/her/hers) and Pet Ramanudom (she/they) are seniors at Wellesley College. They're also friends!
      <p>
      <img src="https://lh3.googleusercontent.com/0qltYcOG-Mx75tSb3Oz08lysg24f3DaG289xtqoaPGdD6aNd_WzEPVdIT3WbjBRl5_bwt0zYt0-xcLGcoABl8pEa4Y4k6lH7fkU_KjlXvMIrZVym8ODvVgkl7s5AJBpZE1-LgJNIOttehl0zsZd32IzhMuxTXHr9W1fxMrsPkyMsLWFiDS8oQCzxE5aG6-ghnltF9OgG-rlOWD20_u0eqAnqtSfYbpligoHHBWtUVgJiX8VPajs1F0uNazGORuQXjxPz8LlKCM05T8pkSogAl40DZFG-acJaVva_inSIKpJqnFLOSgO7pTONlR9MQNuPTxmnUwKKhpri2dekrshKsARcbAcA7vyH_sU38o8L8RQo1Dtn6UniXpGGEDNd-B_qsTqFIrvHdK3bwqkEdfi113Ud0ZE7lUXoO5igLzwgERHbT7DxRs7ds0tb0t6r6Yjv06vnYzqzSjVd_YrYo1sZO_dmf1LjdwDj0kAw_dA5h39XM-g1-xh80c-rUdIsUmnb5OZ0SCuAJm3WX2JkwcXS0LbT-fipa0XhcfN8b889-CQX_W5ZeudHMCsVbNyS5maVM6W0clVcqFvjku94zhknZvIG6u6SEdQbJ-7coYejIw=w1050-h1400-no" alt="ImagePet" style="width:250px;height:333px;">
      <img src = "https://lh3.googleusercontent.com/iw15AXTArWSRuoyJhQOrgGd_1iKcL4-uuWg5K_w6vyv3FVVO9u9DIzZ-pz0xIcHEW-SgwsufqC2bw6u30K4V11PL0e6duWOXPQJHx2O7wVTFhODjKONKOuZ4bWL268M7XbqXUoYbA9VKJyiMlth7_5ryfWeOzHeUrVCVpciE5yWzpHRP32XaRxh5w3eSVhwkDPdbguwkYva8bvjxvSI2isNMWuDWkLt-JMd0hDJfUQd2CYVPI_VWTiJmnQ8BraTO_HgWheMVMOCAqBCpfJoJ-66w20pZQDacYPTHwgzteuWHJ8Om03WJDIwUvSybqJVQM-9FArPvkclbyAhG0XMT22dwPIimKViHrPjgU2zg7JuHFw0WO-n5zJkPgquh2uMp-jpHF107Zh4b_Sj2mZzSFP5sJtfClQP99VA5m_s6e8970W0UZAA1KOAcmbswljP29M_OWUNZ6E_BA_4FwfcprS2MQdoHl24rfzfpKypSsKCIWLAZzNMq2ytaBqmreIVzb6JCG0-xQK0XtVYX8VX9v70-mTNqYqd_CM2ncFMzoecsapGKIxYbNUPH3EXrLWSkHG0OC_PXnhIMpDmo0ZS7fJkjlEzFBLRRPkMKHBM-Dg=w934-h1400-no" alt = "ImageNancy" style = "width:220px;height:333px">
    </div>
{% endblock %}