{% extends 'index.html' %}
{% block content %}
    <h1> Welcome, {{accountName}} </h1>
    <div>
    <br><h5> Settings </h5>
    <div class="content">
      <form method="POST" action="{{script}}">
          <div class="form-group">
            <br>
            <label for='userName'> User Name: </label><input type="text" class="form-control" name="userName" aria-describedby="textbox" value="{{info['accountName']}}">
            <br>
            <label for='password'> Password: </label><input type="password" class="form-control" name="password" aria-describedby="password textbox" value="{{info['password']}}">
            <br>
             <label for='jobTitle'> Job Title: </label><input type="text" class="form-control" name="jobTitle" aria-describedby="textbox" value="{{info['jobTitle']}}">
            <br>
        <p><div style="margin: auto;">
            <button type="submit" class="btn btn-primary btn-block" >Update Account</button>
        </div></p>
      </form>
    </div>
  </div>
  <br>
  <div>
  <h5> See below for your most recent reviews.</h5>
  {% set accountName = session['user_name'] %}
  {% for review in reviews %} 
    <div class="content">
        <p> Company: {{review['companyName']}} </p>
        <p> Review: {{review['reviewText']}} </p>
        <p> Sentiment: {{review['sentiment']}}</p>
        <p> Salary: {{review['salary']}} </p>  
        <button type="button" id="button{{loop.index}}" class="btn btn-primary btn-sm useful" value="{{review['reviewID']}}">
        <span id="useful{{loop.index}}"></span> found this review useful
        </button>   
        <a role="button" class="btn btn-primary btn-sm" href="{{url_for('delete_review', account_name=accountName,reviewID=review['reviewID'])}}">Delete Review </a>
    </div>
    <br>

  {% endfor %}
 </div>
{% endblock %}