{% extends 'index.html' %}
{% block content %}
    <div class="jumbotron">
        <h4 class="display-4"> Please sign in to add a review. </h4>
    </div>
  <div class="content">
    <form method=POST action="{{script}}">
      <div class="form-group">
        <label for="accountName">Username </label>
        <input class="form-control"name="accountName" value="">
        <br>
        <label for="accountPassword">Password </label>
        <input class="form-control" type = "password" name="accountPassword" value="">
        <br>
        <button type="submit" class="btn btn-primary btn-block" >Log In</button>
      </div>
    </form>
  </div>
{% endblock %}