{% extends 'index.html' %}
{% block content %}
    <div class="jumbotron">
        <h4 class="display-4"> Please sign in to add a review. </h4>
    </div>
 {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div id="messages">
      {% for msg in messages %}
          <p>{{msg}}</p>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
    <form method=POST action="{{script}}">
        <label for="accountName">Username </label>
        <input name="accountName" value="">
        <p>
        <label for="accountPassword">Password </label>
        <input type = "password" name="accountPassword" value="">
        <input type="submit" name="submit-btn" value="Log in">
    </form>
{% endblock %}