{% extends 'index.html' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-3"> Search by Title  </h1>
    </div>
 {% with messages = get_flashed_messages() %}
  {% if messages %}
      <div id="messages">
      {% for msg in messages %}
          <p>{{msg}}</p>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
    <form method=POST action="{{script}}">
        <label for="username">Username </label>
        <input name="username" value="">
        <label for="password">Password </label>
        <input name="password" value="">
        <input type="submit" name="submit-btn" value="Search">
    </form>
{% endblock %}